body {
    color: white; 
    background-color: #111111; 
    font-family: Helvetica;
    font-size: 20;
}

p {
    line-height: 2.2; 
    text-align: justify; 
}

#title-div
{
    position: fixed; 
    top: 0%; 
    left: 20%; 
    width: 80%; 
    height: 20%;
    background-color: #000088; 
    text-align: center;
    z-index: 2;
}

#title-div > h1 {
    font-size: 6vh;
    white-space: nowrap; 
}

#sidebar {
    position: fixed; 
    top: 20%; 
    width: 20%; 
}

div.navbutton {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    background-color: #000088; 
    padding: 2vh; 
}

div.navbutton:hover {
    text-decoration: none; 
    font-weight: bold; 
    background-color: #0000CC; 
}

#content {
    position: absolute; 
    width: 80%; 
    left: 20%; 
    top: 20%; 
    z-index: 1;
}

p > a {
    color: white; 
}

#content > * {
    margin-left: 10%; 
    margin-right: 10%; 
}



